In [12]:
import pandas as pd
import numpy as np
import glob

In [16]:
path = "data"
file_names = glob.glob(path + "/*.csv")
dfs = []

for filename in file_names:
    dfs.append(pd.read_csv(filename))

big_df = pd.concat(dfs, ignore_index = True)
big_df

,DateTime,Altimeter Setting,One Hour Precipitation,Pressure,Three Hour Precipitation,Wind Chill,Visibility,Six Hour Precipitation,24 Hour Precipitation,Temperature,Dew Point,Relative Humidity,Wind Speed,Gust,Direction
0,2024-01-31 16:53:00,29.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-31 17:53:00,29.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-31 18:53:00,29.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-01-31 19:53:00,29.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-01-31 20:53:00,29.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14535,2024-04-01 12:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,0.0
14536,2024-04-01 13:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,18.0,10.0
14537,2024-04-01 14:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,20.0,0.0
14538,2024-04-01 15:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,0.0
14539,2024-04-01 16:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,0.0